.about-intro {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-intro ::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5) url("/images/about-page-background.jpg") center
    center/cover no-repeat;
    background-blend-mode: darken;
  z-index: -1;
}

.about-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-col {
  margin: 1rem;
  height: 100%;
  width: 50%;
}

.about-col img {
  width: 100%;
}

.about-us-heading {
  color: rgb(0, 0, 0);
}

.about-us-text {
  padding: 2rem;
  background-color: #ffffff;
}

.about-us-text p {
  padding: 8px 0;
}

/* Story */

.story-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-col {
  margin: 1rem;
  height: 100%;
  width: 50%;
}

.story-col img {
  width: 100%;
}

.story-text {
  padding: 2rem;
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 540px) {
  .about-intro {
    height: 50vh;
  }
}

@media screen and (max-width: 1200px) {
  .about-row {
    flex-direction: column;
  }
  .about-col {
    width: 100%;
  }

  .about-us-text {
    padding: 0;
  }

  .story-row {
    flex-direction: column-reverse;
  }
  .story-col {
    width: 100%;
  }

  .story-text {
    padding: 0;
  }
}
