* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background-color: #555;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}


h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
ul {
  margin: 0;
  padding: 0;
}

.main-wrapper{
  overflow-x: hidden;
}
