
.rent-widget {
  position: fixed;
  top: 100vh;
  left: 50%;
  height: 90vh;
  transform: translateX(-50%);
  background-color: #101010;
  color: white;
  width: 50%;
  border-radius: 8px;
  box-shadow: inset 0px 0px 4px rgb(163, 163, 163);
  padding: 1rem 0.4rem;
  z-index: 1;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.show-widget{
  top: 9vh;
}

.widget-container{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow-y: scroll;
}

.widget-container::-webkit-scrollbar {
  display: none;
}


.widget-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  color: white;
}

.widget-text {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.widget-form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: #252525;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.widget-form-group label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.widget-control {
  height: 42px;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 1rem;
  border-radius: 4px;
}

.widget-control:focus {
  border: none;
  outline: none;
}
.widget-btn {
  margin: 1.4rem 1rem;
}

.widget-submit-btn {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
}

@media screen and (max-width:992px) {
  .rent-widget{
    width: 80%;
  }
}

@media screen and (max-width:574px) {
  .rent-widget{
    width: 98%;
  }
}