.widget-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(8px);
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

.show-widget {
  transform: scale(1);
}

.rent-widget {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: fit-content;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  padding: 1rem 0.4rem;
  background-color: #101010;
  box-shadow: inset 0px 0px 4px rgb(163, 163, 163);
}

.widget-container::-webkit-scrollbar {
  display: none;
}

.widget-close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 2.5rem;
  border: none;
  outline: none;
  border-radius: 100%;
  background-color: transparent;
  color: rgb(255, 255, 255);

}

.widget-text {
  margin: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.wdgt-inr-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wdgt-inr-row .widget-form-group {
  width: 100%;
}

.widget-form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  background-color: #252525;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.widget-form-group label {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.widget-control {
  height: 42px;
  outline: none;
  border: none;
  width: 100%;
  padding-left: 1rem;
  border-radius: 4px;
}

.widget-control:focus {
  border: none;
  outline: none;
}
.widget-btn {
  margin: 1.4rem 1rem;
}

.widget-submit-btn {
  height: 42px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
}

/* @media screen and (max-width: 992px) {
  .rent-widget {
    width: 80%;
  }
} */

@media screen and (max-width: 574px) {
  .rent-widget {
    width: 96%;
  }
  .widget-container {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  }
  .wdgt-inr-row {
    flex-direction: column;
  }

  .widget-form {
    width: 100%;
  }

  .widget-form-group {
    margin: 8px 0;
  }

  .widget-close-btn {
    font-size: 1.8rem;
    font-weight: bold;
    background-color: white;
    color: black;
    padding: 0 12px;
  }
}
